.section {
  padding-top: 80px;
  padding-bottom: 112px;
}

.container {
  margin: 0 auto;
}

.formWrapper {
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
  align-items: center;
  width: 100%;
  row-gap: 14px;
  margin-bottom: 24px;
}

.searchIconWrapper {
  color: #fafafa;
  position: relative;
}

.input {
  color: #fafafa;
  font-family: Manrope;
  font-size: 14px;
  line-height: 1.29;
  width: 100%;
  padding-left: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin-bottom: 14px;
  border-radius: 200px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background-color: transparent;
  opacity: 0.8;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.imgBox {
  margin-bottom: 14px;
}
.imgItem {
  width: 335px;
  border-radius: 10px;
}
.description {
  width: 335px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
.ulWrapper {
  margin: 0 auto 60px auto;
  align-content: center;
}
@media screen and (min-width: 768px) {
  .formWrapper {
    flex-direction: row;
    gap: 14px;
  }
  .imgItem {
    width: 342px;
  }

  .drinkList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 14px;
  }
  .container {
    width: 704px;
  }
  .ulWrapper {
    margin: 0 auto 60px auto;
    display: flex;
    align-content: center;
  }
  .description {
    margin-bottom: 32px;
  }
  .inputform {
    font-size: 17px;
    line-height: 1.56;
    padding-top: 14px;
    padding-bottom: 15px;
    position: relative;
  }
}
.seeMore {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-left: auto;
}
@media screen and (min-width: 768px) {
  .seeMore {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding-top: 128px;
    padding-bottom: 160px;
  }
  .imgItem {
    width: 400px;
  }
  .drinkList {
    gap: 20px;
  }
  .container {
    width: 1240px;
  }
  .form {
    position: relative;
  }
  .icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
}
