.previewDrinks {
  padding-bottom: 80px;
}

.container {
  margin: 0 auto;
  padding: 0 20px;
  width: 375px;
}

.list {
  /* display: block;
   display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  margin-bottom: 40px;
}

.category {
  /* display: block; */
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  margin-bottom: 24px;
  margin-left: auto;
  font-weight: 600;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0em;
  text-align: left;
  color: var(--primary-white-color);
}

.card {
  /* display: flex;
  justify-content: center;
  flex-wrap: wrap; */
  width: 335px;
  /* height: 448px; */
}

.thumb {
  /* display: block; */
  width: 335px;
  height: 448px;
  border-radius: 8px;
  margin-bottom: 14px;
  background-color: rgba(220, 220, 220, 0.111);
  & > img {
    height: auto;
  }
}

.footerCard {
  display: flex;
  justify-content: space-between;
}

.name {
  font-size: 16px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-right: auto;
}

.seeMore {
  font-size: 14px;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  margin-left: auto;
}

@media screen and (min-width: 768px) {
  /* .previewDrinks {
    padding-bottom: 80px;
  } */

  .container {
    padding: 0 32px;
    width: 704px;
  }

  .list {
    display: flex;
    /* flex-wrap: nowrap; */
    margin-bottom: 80px;
  }

  .category {
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 40px;
  }

  .card {
    /* display: flex; */
    width: 342px;
    height: 398px;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }

  .thumb {
    width: 342px;
    height: 360px;
    border-radius: 8px;
    margin-bottom: 14px;
    background-color: rgba(220, 220, 220, 0.111);
  }

  /* .footerCard{
    flex-grow: 1;
  } */

  .name {
    font-size: 18px;
    line-height: 24px;
  }

  .seeMore {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  /* .previewDrinks {
    padding-bottom: 80px;
  } */

  .container {
    padding: 0 100px;
    width: 1240px;
  }
}
