/* Add drinks */
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  margin: auto;
  padding: 14px 40px;

  font-family: Manrope, sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.12;
  letter-spacing: 0.06em;

  background-color: var(--primary-white-color);
  color: var(--secondary-bg-blue-color);
  border: 2px solid transparent;
  border-radius: 42px;
  cursor: pointer;
  transition: all var(--transition-duration);
  pointer-events: all;

  &:active {
    border: 2px solid rgba(64, 112, 205, 0.5);
  }

  &:hover,
  &:focus {
    background-color: var(--secondary-bg-blue-color);
    color: var(--primary-white-color);
  }

  &:disabled,
  &[disabled] {
    background-color: var(--disabled-blue-color);
    color: rgba(243, 243, 243, 0.2);
    outline: none;
    pointer-events: none;
  }
}

/* //Log out */
.submitButton {
  composes: button;

  padding: 16px 41px;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    border: 2px solid rgba(243, 243, 243, 0.2);
    background-color: var(--secondary-bg-blue-color);
  }

  &:disabled,
  &[disabled] {
    background-color: rgba(243, 243, 243, 0.2);
    color: rgba(243, 243, 243, 0.2);
    outline: none;
    pointer-events: none;
  }
}

/* Add to favorite drinks */
.addButton {
  composes: button;

  &:hover,
  &:focus {
    color: var(--primary-white-color);
    border: 2px solid transparent;
    background-color: var(--secondary-bg-blue-color);
  }
}

/* See more */
.seeButton {
  composes: button;

  background-color: var(--secondary-bg-blue-color);
  color: var(--primary-white-color);

  &:hover,
  &:focus {
    background-color: var(--primary-white-color);
    color: var(--secondary-bg-blue-color);
  }
}

@media screen and (min-width: 768px) {
  .button {
    padding: 18px 44px;
    font-size: 16px;
  }

  .submitButton {
    padding: 18px 69px;
  }
}
