.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    backdrop-filter: blur(8px);
    padding: 0 20px;
}

.active {
    display: flex;
}

.content {
    position: relative;
    margin: auto;
    width: 100%;
    height: 345px;
    background-color: var(--secondary-bg-blue-color);
    border-radius: 8px;
    padding: 45px 25px 25px;
    overflow-y: auto;
}

@media screen and (min-width: 768px) {
    .content {
        width: 600px;
        height: 400px;
    }
}

.close {
    position: absolute;
    top: 14px;
    right: 16px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    z-index: 10;
}