.form {
  margin-bottom: 80px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .form {
    gap: 32px;
    display: flex;
  }
}

@media screen and (min-width: 1440px) {
  .form {
    gap: 40px;
    display: flex;
  }
}

.addDrinkImg {
  width: 335px;
  height: 335px;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--secondary-bg-blue-color);
  border-radius: 10px;
  text-align: center;
}

@media screen and (min-width: 375px) and (max-width: 1440px) {
  .addDrinkImg {
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 1440px) {
  .addDrinkImg {
    width: 400px;
    height: 400px;
  }
}

.addBtn {
  width: 50px;
  height: 50px;

  background-color: var(--primary-white-color);

  border: none;
  border-radius: 5px;

  margin-bottom: 18px;
}

.uploadImg {
  width: 335px;
  height: 335px;

  border-radius: 10px;
}

@media screen and (min-width: 375px) and (max-width: 768px) {
  .uploadImg {
    width: 320px;
    height: 320px;
  }
}

@media screen and (min-width: 768px) {
  .uploadImg {
    width: 400px;
    height: 400px;
  }
}

.informationDrink {
  width: 335px;
  height: 229px;

  gap: 59px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .informationDrink {
    width: 352px;
    height: 257px;
  }
}

@media screen and (min-width: 1400px) {
  .informationDrink {
    width: 393px;
    height: 284px;
  }
}

.addDrinkInput {
  width: 320px;

  border: none;
  border-bottom: 1px solid var(--primary-white-color);
  background: none;
  color: var(--primary-white-color);

  outline: none;
  position: relative;

  padding-top: 14px;
  margin-bottom: 31px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .addDrinkInput {
    width: 352px;
    height: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .addDrinkInput {
    width: 393px;

    margin-bottom: 40px;
  }
}

.addDrinkInput::placeholder {
  position: absolute;
  top: 0;
  left: 0;
}

.informationAlcoholic {
  display: flex;
  gap: 14px;
}

.alcoholicWhiteText {
  color: var(--primary-white-color);
}

.alcoholicBlackText {
  color: #666;
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  position: absolute;
  left: -9999px;
}

[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}

[type='radio']:checked + label {
  color: white;
}

[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid var(--primary-white-color);
  border-radius: 100%;
  background: none;
}

[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  content: '';
  width: 12px;
  height: 12px;
  background: var(--primary-white-color);
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

[type='radio']:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

[type='radio']:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

.custom-select {
  position: relative;
  width: 200px;
}

.custom-select select {
  display: none;
}

.custom-select-trigger {
  position: relative;
  display: block;
  width: 100%;
  padding: 10px;
  background: #f0f0f0;
  cursor: pointer;
}

.custom-options {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: #fff;
  border: 1px solid #ccc;
}

.custom-option {
  padding: 10px;
  cursor: pointer;
}

.custom-option.selected {
  background-color: #007bff;
  color: #fff;
}

.customSelect {
  width: 320px;
  height: 34px;

  position: relative;

  margin-bottom: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .customSelect {
    width: 352px;
    height: 41px;
  }
}

@media screen and (min-width: 1440px) {
  .customSelect {
    width: 393px;

    margin-bottom: 40px;
  }
}

.ingredientSelect {
  width: 316px;
  height: 56px;

  margin: 0 auto;
  position: relative;

  border-radius: 50px;
  border: 1px solid var(--primary-white-color);
  color: var(--primary-white-color);
}

.customSelect .customSelectBtn {
  width: 320px;

  padding: 5px;
  background: none;
  border-bottom: 1px solid var(--primary-white-color);

  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .customSelect .customSelectBtn {
    width: 352px;
  }
}

@media screen and (min-width: 1440px) {
  .customSelect .customSelectBtn {
    width: 393px;

    margin-bottom: 40px;
  }
}

.customSelectText {
  position: absolute;
  bottom: 35px;
  right: 0;
}

.informationDrinkText {
  color: #666;
}

@media screen and (min-width: 768px) {
  .customSelectText {
    bottom: 40px;
  }
}

.ingredientSelect .customSelectContent {
  width: 154px;

  position: absolute;
  top: 110%;
  padding: 15px;
  background: var(--secondary-bg-blue-color);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);

  border-radius: 10px;
  z-index: 1000;
}

.customSelect .customSelectContent {
  width: 154px;

  position: absolute;
  top: 10%;
  padding: 15px;
  background: var(--secondary-bg-blue-color);
  right: 0;

  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);

  border-radius: 10px;
  z-index: 1000;
}

@media screen and (min-width: 768px) and (max-width: 1440px) {
  .customSelect .customSelectContent {
    top: 15%;
  }
}

.customSelect .customSelectContent .customSelectItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.customSelectContent {
  max-height: 200px;
  overflow-y: auto;
}

.customSelectContentWrapper {
  max-height: 100%;
  overflow: hidden;
}
