.customSelect {
  width: 393px;
  margin: 0 auto;
  position: relative;

  margin-bottom: 40px;
}

.ingredientSelect {
  width: 316px;
  height: 56px;

  margin: 0 auto;
  position: relative;

  border-radius: 50px;
  border: 1px solid var(--primary-white-color);
  color: var(--primary-white-color);
}

.customSelect .customSelectBtn {
  padding: 10px;
  background: none;
  border-bottom: 1px solid var(--primary-white-color);

  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);
}

.ingredientSelect .customSelectContent {
  width: 154px;

  position: absolute;
  top: 110%;
  padding: 15px;
  background: var(--secondary-bg-blue-color);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);

  border-radius: 10px;
  z-index: 1000;
}

.customSelect .customSelectContent {
  width: 154px;

  position: absolute;
  top: 110%;
  padding: 15px;
  background: var(--secondary-bg-blue-color);
  box-shadow: 3px 3px 10px 6px rgba(0, 0, 0, 0.06);
  color: var(--primary-white-color);

  border-radius: 10px;
  z-index: 1000;
}

.customSelect .customSelectContent .customSelectItem {
  padding: 10px;
  cursor: pointer;
  transition: all 0.2s;
}

.customSelectContent {
  /* Your existing styles here */

  /* Add the following styles for the scrollable container */
  max-height: 200px; /* Adjust the height as needed */
  overflow-y: auto;
}

.customSelectContentWrapper {
  /* Add the following styles for the content wrapper */
  max-height: 100%;
  overflow: hidden;
}
