.PageTitle {
  color: var(--primary-white-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1875;
}

@media screen and (min-width: 768px) {
  .PageTitle {
    font-size: 56px;
    line-height: 1.07;
    margin-top: 140px;
    /* margin-left: 32px; */
  }
}

@media screen and (min-width: 1440px) {
  .PageTitle {
    font-size: 64px;
    margin-top: 158px;
    /* margin-left: 100px; */
  }
}
/* 
.TitleWrap {
  padding: 0px 20px;
} */
