.PageTitle {
  margin-bottom: 40px;
  margin-top: 80px;
  color: var(--primary-white-color);
  font-size: 32px;
  font-weight: 600;
  line-height: 1.1875;
}

@media screen and (min-width: 768px) {
  .PageTitle {
    margin-bottom: 60px;
    font-size: 56px;
    line-height: 1.07;
    margin-top: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .PageTitle {
    font-size: 64px;
    margin-top: 158px;
  }
}
