.drinksListItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: 4px solid rgb(180, 180, 180); */
    overflow: hidden;
    border-radius: 15px;
}

.imageDrinkItem {
    width: 335px;
    height: 360px;
    object-fit: cover;
    border-radius: 8px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* outline: 4px solid rgb(5, 189, 20); */
}

@media screen and (min-width: 1440px) {
    .imageDrinkItem {
        width: 400px;
        height: 400px;
        /* outline: 4px solid rgb(5, 189, 20); */
    }
}

.drinkMargin {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    gap: 4px;
    margin-right: auto;
    align-items: flex-start;
    /* outline: 4px solid rgb(39, 5, 189); */
}

.drinkTitle {
    color: var(--primary-white-color);
    /* font-family: Manrope; */
    font-size: 18px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    margin: 0px;
}


@media screen and (min-width: 768px) {
    .drinkTitle {
        font-size: 24px;
    }
}

.drinkTextAlcohol {
    color: var(--primary-white-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 1.33;
    text-align: left;
    margin: 0px;
    opacity: 50%;
}

@media screen and (min-width: 768px) {
    .drinkTextAlcohol {
        font-size: 16px;
    }
}


.drinkDescription {
    color: var(--primary-white-color);
    /* font-family: Manrope; */
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
    text-align: left;
    height: 75px;
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .drinkDescription {
      font-size: 16px;
      height: 96px;
      line-height: 1.44;
    }
  }

  .btnBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
    margin-right: auto;
    /* outline: 2px solid rgb(154, 238, 59); */
}


.btn {
    background: var(--secondary-bg-blue-color);
    /* font-family: Manrope; */
    font-size: 14px;
    line-height: 1.29;
    width: 100%;
    height: 46px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 8px;
    padding: 18px 44px;
    border-radius: 42px;
    color: var(--primary-white-color);
  }
  
  @media screen and (min-width: 768px) {
    .btn {
      font-size: 16px;
      line-height: 1.13;
      height: 54px;
    }
  }
  
  .btn_cirkle {
    background: var(--secondary-bg-blue-color);
    height: 46px; 
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 13px;
    border-radius: 50px;
    color: var(--primary-white-color);
  }
  
  @media screen and (min-width: 768px) {
    .btn_cirkle {
      font-size: 16px;
      height: 54px;
      padding: 15px;
    }
  }