.container {
  padding: 80px 20px;
  margin: 0 auto;
  width: 375px;
}
.followTitle {
  color: var(--primary-white-color);
}
.followContainer {
  margin-top: 80px;
}

@media screen and (min-width: 768px) {
  .container {
    width: 704px;
    /* padding: 0px 32px; */

    padding-bottom: 140px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    width: 1240px;

    /* padding: 0px 100px; */
    /* padding-bottom: 140px; */

    margin: 0 auto;
  }
    .followContainer {
      margin-top: 0px;
    }
}

@media screen and (min-width: 1440px) {
  .box {
    display: flex;
    margin-bottom: 0;
  }
}
