.myDrinksList {
    display: flex;
    flex-wrap: wrap;
    row-gap: 80px;
    column-gap: 20px;
    list-style: none;
}

/* .myDrinkListWrapper{
    
} */

body {
    color: #f3f3f3;
    background-color: #0A0A11;
}