.myDrinksList {
  width: 335px;
  height: 100%;
  padding: 0;
  background-color: var(--main-bg-color);

  display: grid;
  grid-row-gap: 40px;
}

@media screen and (min-width: 768px) {
  .myDrinksList {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 80px;
    margin-top: 60px;
  }
}

@media screen and (min-width: 1440px) {
  .myDrinksList {
    grid-template-columns: repeat(3, 1fr);
    margin-top: 62px;
  }
}

.myDrinkListWrapper {
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 140px;
}

@media screen and (min-width: 768px) {
  .myDrinkListWrapper {
    margin-right: 32px;
    margin-left: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .myDrinkListWrapper {
    margin-right: 100px;
    margin-left: 100px;
  }
}
