.myDrinkItem {
    display: flex;
    flex-direction: column;
    width: 400px;
    min-height: 676px;
}


.img {
 width: 100%;
 border-radius: 8px;
 height: 360px;
 background-color: transparent;
}

 @media screen and (min-width: 768px) {
    .img{
     width: 342px;}
 }

 @media screen and (min-width: 1440px) {
    .img {
     width: 400px;
     height: 400px;}
 }




.drinkWrapper {
    position: relative;
    overflow: hidden;
    margin-bottom: 24px;
}

.drinkTitle {
    margin-top: 24px;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: calc(32 / 24);
}

.drinkCategory {
    margin-top: 4px;
    margin-bottom: 24px;
    font-size: 16px;
    line-height: calc(18 / 16);
    color: var(--border-color);
}

.drinkDescription {
    height: 92px;
    font-size: 16px;
    line-height: calc(22 / 16);
    margin: 0;
    overflow: hidden;
}

.moreBtn {
    font-size: 14px;
    font-weight: 600;
    line-height: calc(18 / 14);
    padding: 14px 40px;
    border-radius: 42px;
    border-width: 0;
    margin-right: 8px;
   background-color: var(--secondary-bg-blue-color);
   color: var(--primary-white-color);
transition: all var(--transition-duration);
    
        &:hover,
        &:focus {
            background-color: var(--primary-white-color);
            color: var(--secondary-bg-blue-color);
        }
}

 @media screen and (min-width: 768px) {
     .moreBtn {
        font-size: 16px;
            font-weight: 600;
            line-height: calc(18 / 16);
            padding: 18px 44px;
     }
 }



.deleteBtn {
    background-color: var(--secondary-bg-blue-color);
    padding: 10px 11px;
    border-radius: 40px;
    border-width: 0;
    transition: all var(--transition-duration);


    &:hover,
    :focus {
        background-color: var(--primary-white-color);

        .svgTrash {
            stroke: var(--secondary-bg-blue-color);
        }
    }
}

@media screen and (min-width: 768px) {
    .deleteBtn {
        padding: 14px 16px;
    }
}

.buttonsWrapper {
    display: flex;
    margin-top: 24px;
}