.btn_theme_switcher {
    position: relative;
    height: 20px;
    width: 40px;
    border-radius: 100px;
    background-color: #F3F3F3;
    border: none;
}

.btn_theme_switcher::before {
    content: "";
    position: absolute;
    height: 18px;
    width: 18px;
    background: #161F37;
    border-radius: 50%;
    top: 50%;
    left: 1px;
    transform: translateY(-50%);
    transition: all 0.3s ease-in-out;
}

.btn_theme_switcher.dark-mode::before {
    left: calc(100% - 18px - 1px);
}