.footer{  
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 40px;
  background-color: #0a0a11;
  width: 375px;
  margin: 0 auto;
  border-top: 1px solid rgba(243, 243,243);
  }
  .wraperMedia{
    display: flex;
    justify-content: space-between;
  }
  @media screen and (min-width: 768px) {
    .footer{
      width:768px;
    }
    .wraperMedia{
      flex-direction: column;

    }
    .wraperMediaTablet{
      display: flex;
      justify-content: space-between;
    }
  }
  @media screen and (min-width: 1440px) {
    .footer{
      width:1440px;
      padding-left: 100px;
      padding-right: 100px;
    }
    .wraperMedia{
     flex-direction: row;
  }
}