.href {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo {
  width: 22px;
  height: 22px;
}

@media screen and (min-width: 768px) {
  .logo {
      width: 28px;
      height: 28px;
  }
}

.title {
  margin: 0;
  color: var(--primary-white-color);
  font-family: Manrope;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 18px;
}

@media screen and (min-width: 768px) {
  .title {
      font-size: 18px;
      line-height: 22px;
  }
}